@model UserIndexLayoutVM

@foreach (var item in Model.Picks)
{
    <div class="historyItem" id="">
        <div class="thumbnail">
            <a href="#" title="Go to item">
                <img src="@item.PickedMushroom.PicUrl" alt="Lorem ipsum" />
            </a>
        </div>
        <div class="historyInfo">
            <p>@item.PickedMushroom.Type</p>
            <p>Vikt: @item.Weight</p>
            <p>Datum: @item.PickDate</p>
        </div>
    </div>
}