body {
  align-content: center;
  display: block;
  text-align: center; }
  body .form-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 100px; }
    body .form-container .form-inner {
      border: solid;
      border-width: 1px;
      border-radius: 5px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 70px;
      border-color: #ffab0f;
      /*background-image: url('../images/26786.jpg');*/
      overflow: hidden; }
    body .form-container label {
      border: solid;
      border-width: 1px;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      width: 100px; }
    body .form-container #label1 {
      border-color: #F99C04; }
    body .form-container #label2 {
      border-color: #067BC9; }
    body .form-container #label3 {
      border-color: #3F710D; }
    body .form-container #label4 {
      border-color: #067BC9; }
    body .form-container #label5 {
      border-color: #871E01; }
    body .form-container #label6 {
      border-color: #3F710D; }
    body .form-container input {
      float: right; }
    body .form-container .btn {
      background-color: #ffab0f;
      border-color: #ffab0f; }

