body {
  align-content: center;
  display: block;
  text-align: center; }
  body .form-container {
    padding-top: 100px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
    body .form-container input {
      float: right; }
    body .form-container .btn {
      background-color: #ffab0f;
      border-color: #ffab0f; }

