.userIndexContainer {
  padding-top: 100px;
  justify-content: center;
  flex-direction: row;
  display: flex; }

.historyItemColumn {
  padding: 10px 4px 4px 4px;
  flex-wrap: wrap; }
  .historyItemColumn h4 {
    padding: 10px 4px 4px 4px; }
  .historyItemColumn .historyItem {
    padding: 2px 7px 4px 4px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: 500px;
    color: black;
    background-color: white; }
    .historyItemColumn .historyItem .thumbnail img {
      max-height: 150px;
      max-width: 150px; }

.userIndexGutter {
  padding: 2px 50px 4px 50px; }

.marketItemColumn {
  padding: 78px 4px 4px 4px;
  flex-wrap: wrap; }
  .marketItemColumn .marketItem {
    padding: 2px 7px 4px 4px;
    border: solid;
    border-width: 1px;
    border-color: black;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: 500px;
    color: black;
    background-color: white; }
    .marketItemColumn .marketItem .thumbnail img {
      max-height: 150px;
      max-width: 150px; }
  .marketItemColumn .marketItemColumn-btn {
    width: 500px; }

