@model NewPickVM;

<form asp-controller="User" asp-action="AddNewPick">

    <label asp-for="MushroomName"></label>
    <input asp-for="MushroomName" />
    <span asp-validation-for="MushroomName"></span>
    <br />

    <label asp-for="DatePicked"></label>
    <input asp-for="DatePicked" />
    <span asp-validation-for="DatePicked"></span>
    <br />

    <label asp-for="WeightInGrams"></label>
    <input asp-for="WeightInGrams" />
    <span asp-validation-for="WeightInGrams"></span>
    <br />


    <input type="submit" value="Lägg till plockningen" />

</form>
