
@{
    Layout = "_Layout";
}

            {
<div class="marketItemColumn">
    @{ Html.RenderPartial("MMarketPV"); }
</div>

@section scripts{
    <link href="~/Styles/User-Market.css" rel="stylesheet" />
}
