@model MyItemsVM

@{
    Layout = "_Layout";
}
<div class="contact-form">
    <form asp-controller="User" asp-action="AddPickItem">
        <label asp-for="NewPick.MushroomName">MushroomName</label>
        <input asp-for="NewPick.MushroomName" />
        <span asp-validation-for="NewPick.MushroomName"></span>

        <label asp-for="NewPick.MushroomPicUrl"></label>
        <input asp-for="NewPick.MushroomPicUrl" />
        <span asp-validation-for="NewPick.MushroomPicUrl" type=""></span>

        <label asp-for="NewPick.MushroomName"></label>
        <select asp-for="NewPick.MushroomName"
                asp-items="Model.Mushrooms"></select>
        <span asp-validation-for="NewPick.MushroomName" type=""></span>

        <input type="submit" value="ADD ITEM"><input />
    </form>
</div>

<div class="marketItemColumn">
    <a asp-controller="User" asp-action="AddPickItem" class="btn btn-danger btn-round marketItemColumn-btn">New Item</a>
    <h4>My items</h4>
    @{ Html.RenderPartial("UserItemPV");}
</div>

@*@Model.Message*@


@section scripts{
    <script src="~/Scripts/UserIndexJavaScript.js"></script>
    <link href="~/Styles/User-Index.min.css" rel="stylesheet" />
    <link href="~/Styles/TestStyleSheet.css" rel="stylesheet" />
}
