
@{
    Layout = "_Layout";
}

@{ Html.RenderPartial("HistoryPV"); }

<div hidden="false" class="map" id="9999" lat="55" long="55"></div>

<script src="~/Scripts/UserIndexJavaScript.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-NO0BxUeyZRy0uCpNaUZHmzazDH9R7xk&callback=initMap"
        async defer></script>

<link href="~/Styles/TestStyleSheet.css" rel="stylesheet" />
<link href="~/Styles/User-Index.min.css" rel="stylesheet" />