<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Styles/_LayoutIndexStyleSheet.min.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <span class="menu_toggle">
            <i class="menu_open fa fa-bars fa-lg"></i>
            <i class="menu_close fa fa-times fa-lg"></i>
        </span>
        <ul class="menu_items">
            <li><a asp-controller="User" asp-action="Index"><i class="icon fa fa-home fa-2x"></i> Home</a></li>
            <li><a asp-controller="home" asp-action="Login"><i class="icon fa fa-heart fa-2x"></i> Login</a></li>
            <li><a asp-controller="home" asp-action="Reg"><i class="icon fa fa-plus-circle fa-2x" ></i> Register</a></li>
        </ul>
        <main class="content">
            <div class="backGround">
                <div class="content_inner">
                    <h1>Mushrooms, what's the deal?</h1>
                    <p>Do <strong>not</strong> push that big, yellow button in the corner. People will die. You have been warned. Do&hellip; not do it.</p>

                    <div class="container1">
                        <img src="https://thumbs.dreamstime.com/b/plocka-svamp-porcini-stensopp-p%C3%A5-vit-bakgrund-46888625.jpg" alt="Lorem Ipsum" />
                        <p>Slutprojektet syftar till att knyta samman de tekniker och de ämnen som konsulterna kommit i kontakt med inom Personal Development. Vidare ska slutprojektet bidra till en förankring av de kunskaper, färdigheter och kompetenser som konsulten fått genom programmet. Av denna anledning kommer slutprojektet främst innehålla de tekniker konsulten redan kommit i kontakt med. Ta hjälp av eller utforska nya tekniker är alltså fortsatt okej,förutsatt att det kan motiveras och att gruppen har minst en annan teknik som de tillgodogjort sig från utbildningen. Ex. ett projekt i JavaScript där man nyttjar React som ramverk istället för AngularJS. Eftersom att programmet innehåller Personal Development ska även dessa moment finnas med i slutprojektet.Exempelvis är det viktigt att gruppen har ett professionellt framträdande vid presentation av projektet och man arbetar i projektet enligt agil metodik.</p>
                    </div>

                    <div class="container2">
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/6a/13/d3/6a13d329a88f0c79c1623e6e0a4bfe40.jpg" alt="Lorem Ipsum" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dolorem, ducimus laudantium, earum eos natus sint voluptatum dolores fuga quibusdam consectetur dicta. Laudantium enim inventore iusto ducimus est velit aperiam tempora quibusdam id dolore natus perferendis, debitis distinctio optio repellendus, repellat molestias delectus harum eius, reiciendis dicta ipsum architecto! Eligendi expedita in beatae, placeat unde voluptatibus voluptates consectetur explicabo laudantium, officiis ad nihil. Beatae similique voluptate sequi voluptatem delectus iure in omnis, fuga ipsam nulla ipsum architecto, iste debitis nisi labore quisquam odio accusantium corporis sint perspiciatis. Excepturi earum nobis soluta, doloremque nihil dolorum illum quaerat magnam nemo non sed!</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dolorem, ducimus laudantium, earum eos natus sint voluptatum dolores fuga quibusdam consectetur dicta. Laudantium enim inventore iusto ducimus est velit aperiam tempora quibusdam id dolore natus perferendis, debitis distinctio optio repellendus, repellat molestias delectus harum eius, reiciendis dicta ipsum architecto! Eligendi expedita in beatae, placeat unde voluptatibus voluptates consectetur explicabo laudantium, officiis ad nihil. Beatae similique voluptate sequi voluptatem delectus iure in omnis, fuga ipsam nulla ipsum architecto, iste debitis nisi labore quisquam odio accusantium corporis sint perspiciatis. Excepturi earum nobis soluta, doloremque nihil dolorum illum quaerat magnam nemo non sed!</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="~/Scripts/_LayoutIndexJavaScript.js"></script>
</body>
</html>
