@model LoginVM

@{
    Layout = "_FormLayout";
}
<div id="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-side">
                <header>
                    <span>Lorem Ipsum</span>
                    <h3>Lorem Ipsum<br />Lorem Ipsum</h3>
                </header>
            </div>
            <div class="col-md-6 right-side">
                <form asp-controller="Home" asp-action="Login">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>

                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" type="password"></span>

                    <br />
                    <input type="submit" value="Login" />
                </form>
            </div>
            <ul class="social list-inline">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
        </div>
    </div>
</div>
</div> <!-- end #main-wrapper -->
<!-- Scripts -->
<script src="js/scripts.js"></script>
<script src="js/classie.js"></script>
