@model LoginVM

@{
    Layout = "_FormLayout";
}
<div id="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-side">
                <header>
                    <span>Lorem Ipsum</span>
                    <h3>Lorem Ipsum<br />Lorem Ipsum</h3>
                </header>
            </div>
            <div class="col-md-6 right-side">
                <form asp-controller="Home" asp-action="Login">
                    <span class="input input--hoshi">
                        <input asp-for="Email" class="input__field input__field--hoshi" type="text" id="email" />
                        <label asp-for="Email" class="input__label input__label--hoshi input__label--hoshi-color-3" for="email">
                            <span asp-validation-for="Email" class="input__label-content input__label-content--hoshi"  >E-mail</span>
                        </label>
                    </span>
                    <span class="input input--hoshi">
                        <input asp-for="Password" class="input__field input__field--hoshi" type="password" id="password" />
                        <label asp-for="Password" class="input__label input__label--hoshi input__label--hoshi-color-3" for="password">
                            <span asp-validation-for="Password" asp-for="Password" class="input__label-content input__label-content--hoshi">Password</span>
                        </label>
                    </span>
                    <div class="cta"/>
                        <input type="submit" value="Login" class="btn btn-primary pull-left" />
                </form>
            </div>
            <ul class="social list-inline">
                <li><a href="www.facebook.com">Facebook</a></li>
                <li><a href="www.twitter.com">Twitter</a></li>
                <li><a href="www.linkedin.com">Linkedin</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end #main-wrapper -->
<!-- Scripts -->
