
@{
    Layout = "_Layout";
}

<div class="userIndexContainer">
    <div class="historyItemColumn">
        @for (int i = 0; i < 10; i++)
        {
            { Html.RenderPartial("HistoryPV"); }
        }
    </div>

    <div class="userIndexGutter"></div>

    <div class="marketItemColumn">
        <a href="/user/myItems" class="btn btn-danger btn-round marketItemColumn-btn">My Items</a>
        <br />
        <br />
        @for (int i = 0; i < 10; i++)
        {
            { Html.RenderPartial("MarketPV"); }
        }
    </div>
</div>

@section scripts{

    <link href="~/Styles/TestStyleSheet.css" rel="stylesheet" />
    <link href="~/Styles/User-Index.min.css" rel="stylesheet" />
}
