
@{
    Layout = "_Layout";
}

<div class="marketItemCollumn">
    @for (int i = 0; i < 10; i++)
    {
        { Html.RenderPartial("MarketPV"); }
    }
</div>

@section scripts{

    <link href="~/Styles/TestStyleSheet.css" rel="stylesheet" />
    <link href="~/Styles/User-Index.min.css" rel="stylesheet" />
}
