/*kommentar*/
/*center tilll*/

$blaa: #139cf7;
$ljusblaa: #88EA9A;
$rod: #871F02;
$gul: #F99C04;
$gron: #5BA512;

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.userIndexContainer {
    padding-top: 100px;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.userIndexGutter{
    margin-left: 100px;
    margin-right: 100px;
}


.historyItemColumn {
    padding: 10px 4px 4px 4px;
    flex-wrap: wrap;
    width: 500px;

    h4 {
        padding: 10px 4px 4px 4px;
    }

    .historyItem {
        padding: 2px 7px 4px 4px;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        width: 500px;
        color: black;
        background-color: white;

        .thumbnail {
            .map {
                height: 150px;
                width: 150px;
            }
        }

        .historyInfo {
        }
    }
}

.marketItemColumn {
    padding: 78px 4px 4px 4px;
    flex-wrap: wrap;

    .marketItem {
        padding: 2px 7px 4px 4px;
        border: solid;
        border-width: 1px;
        border-color: black;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        width: 500px;
        color: black;
        background-color: white;
        /*border-radius: 25px;*/
        border: 2px solid #139cf7;
        padding: 20px;

        .thumbnail {
            /*border-radius: 25px;*/
            border: 5px solid #f99c04;

            img {
                max-height: 150px;
                max-width: 150px;
            }
        }

        .marketInfo {
            /*border-radius: 25px;*/
            border: 2px solid $blaa;

            p {
                /*font-family: Arial, Helvetica, sans-serif;*/
            }
        }
    }

    .marketItemColumn-btn {
        width: 500px;
    }
}
