/*kommentar*/
/*center tilll*/

$blaa: #139cf7;
$ljusblaa: #88EA9A;
$rod: #871F02;
$gul: #F99C04;
$gron: #5BA512;

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.userIndexContainer {
    padding-top: 100px;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.userIndexGutter {
    margin-left: 100px;
    margin-right: 100px;
}

.historyItemColumn {
    padding: 10px 4px 4px 4px;
    flex-wrap: wrap;
    width: 500px;

    h4 {
        padding: 10px 4px 4px 4px;
    }

    .historyItem {
        padding: 2px 7px 4px 4px;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        width: 500px;
        color: black;
        background-color: white;

        .thumbnail {
            .map {
                height: 150px;
                width: 150px;
            }
        }

        .historyInfo {
        }
    }
}

.marketItemColumn {
    padding: 78px 4px 4px 4px;
    flex-wrap: wrap;

    #buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: white;

        .marketItem-btn {
            width: 45%;
        }

        .pickItem-btn {
            width: 45%;
        }
    }

    .marketItem {
        padding: 2px 7px 4px 4px;
        border: solid;
        border-width: 1px;
        border-color: black;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        width: 500px;
        color: black;
        background-color: white;
        /*border-radius: 25px;*/
        border: 2px solid #139cf7;
        padding: 20px;

        .thumbnail {
            /*border-radius: 25px;*/
            border: 5px solid #f99c04;

            img {
                max-height: 150px;
                max-width: 150px;
            }
        }

        .marketInfo {
            /*border-radius: 25px;*/
            border: 2px solid $blaa;

            p {
                /*font-family: Arial, Helvetica, sans-serif;*/
            }
        }
    }
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
}

.marketWrap {
    position: absolute;
    overflow: hidden;
    top: 10%;
    right: 10%;
    bottom: -120px;
    left: 10%;
    padding: 20px 50px;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
}

.marketWrap .content {
    opacity: 0;
}

.marketWrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.marketWrap.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
}

.marketWrap.active:before {
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.marketWrap.active .content {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

i.button {
    padding: 13px 13px 13px 13px;
    outline: none;
    border-radius: 50%;
    background: #007fed;
    color: #fff;
    font-size: 24px;
    display: block;
    position: fixed;
    left: 50%;
    bottom: 20px;
    top: auto;
    margin-left: -25px;
    transition: transform 0.25s;
}

.fa {
    width: auto;
}

i.button:hover {
    text-decoration: none;
    background: #2198ff;
}

i.button.active {
    /*transform: rotate(135deg);*/
    transition: transform 0.5s;
}



.pickWrap {
    position: absolute;
    overflow: hidden;
    top: 10%;
    right: 10%;
    bottom: -120px;
    left: 10%;
    padding: 20px 50px;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
}

.pickWrap .content {
    opacity: 0;
}

.pickWrap:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pickWrap.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
}

.pickWrap.active:before {
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pickWrap.active .content {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.marketWrap {
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        align-items:center;

        #marketMapDiv {
            flex-direction: row;
            display: flex;
            width: 100%;
            height: 100vh;
            justify-content: space-evenly;

            #marketMap {
                max-height: 300px;
                max-width: 300px;
                width: 40%;
                height: 40%;
                padding-right: 20%;
                align-content:center;
            }

            .contact-form {
                width: 40%;
                height: 40%;
                padding-right: 20%;
            }
        }
    }
}

.pickWrap {
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        #pickMapDiv {
            flex-direction: row;
            display: flex;
            width: 100%;
            height: 100vh;
            justify-content: space-evenly;

            #pickMap {
                max-height: 300px;
                max-width: 300px;
                width: 40%;
                height: 40%;
                padding-right: 20%;
                align-content: center;
            }

            .contact-form {
                width: 40%;
                height: 40%;
                padding-right: 20%;
            }
        }
    }
}